<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">                        
                        <div class="h5">Bachelor's of Science</div>
                        <p>Aug. 2013 - Dec. 2017</p>
                    </div> 
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Computer Science and Engineering Technology</div>
                        <h4 class="category">University of Toledo</h4> 
                        <ul>
                            <li>Cum laude graduate with a 3.4 GPA</li>
                            <li>Made the Dean's List</li>
                            <li>List of honors here</li>
                            <li>List classes here</li>                                               
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">                        
                        <div class="h5">Master's of Science</div>
                        <p>Aug. 2020 - Present</p>
                    </div> 
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Online Master's of Science in Computer Science</div>
                        <h4 class="category">Georgia Institute of Technology</h4> 
                        <ul>
                            <li>Expected graduate date</li> 
                            <li>List classes here</li>                                               
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>